@font-face {
    font-family: 'SPACE MISSION Regular'; 
    src: url('./fonts/space-mission-font/SpaceMission-rgyw9.otf') format('opentype');
    /* You can add more source formats here (e.g., woff, woff2, ttf) */
}

@font-face {
    font-family: 'Orbitron Medium'; 
    src: url('./Orbitron Medium.otf') format('opentype');
    /* You can add more source formats here (e.g., woff, woff2, ttf) */
}

body {
    background-color: #000;
}

body h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron Medium', sans-serif;
    color: rgba(0, 128, 0, 1);
}

.ft, p {
    font-family: 'Lato', sans-serif;
    color: #FAFAFA;
}

.bold {
    opacity: 0.8;
    font-weight: bold;
}


#starry-night-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; /* To place it behind other content */
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place particles behind the hero and starry night background */
}

/* Custom Navbar Styles */
.navbar {
    position: relative;
    background-color: transparent;
    padding: 10px 12px;
    transition: background-color 0.5s;
}

.navbar.semi-opaque {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-opaque white */
}
.navbar-brand {
    margin-right: 0;
}

.nav-bar {
    display: flex;
}




.navbar-nav {
    font-size: 18px;
    padding: 20px;
}


.logo {
    max-width: 120px;
}


        .social-icons {
            display: flex;
            align-items: center;
        }

        .social-icons img {
            width: 30px; /* Set your desired width for social media icons */
            margin-left: 5px; /* Adjust spacing between icons */
        }

.hero {
     position: relative;
     height: 80vh;
     background-color: rgba(0, 0, 0, 0.5);
     overflow: hidden;
     padding-bottom: 50px;
}


.hero img {
    position: absolute;
    width: 500px;
    height: auto;
    animation: continuousRotateMove 21s steps(420) ;
}

/* Keyframe animation for Hero Planet */

@keyframes continuousRotateMove {
    0% {
        opacity: 1;
        transform: scale(0) rotate(-360deg);
    }
    11% {
        opacity: 0.8;
        transform: scale(0.1) rotate(45deg);
    }
    22% {
        opacity: 0.6;
        transform: scale(0.2) rotate(80deg);
    }
    33% {
        opacity: 0.85;
        transform: scale(0.3) rotate(120deg);
    }
    44% {
        opacity: 1;
        transform: scale(0.4) rotate(160deg);
    }
    55% {
        opacity: 1;
        transform: scale(0.5) rotate(200deg);
    }
    66% {
        opacity: 0.8;
        transform: scale(0.6) rotate(240deg);
    }
    77% {
        opacity: 0.6;
        transform: scale(0.7) rotate(280deg);
    }
    88% {
        opacity: 0.85;
        transform: scale(0.8) rotate(320deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(360deg);
    }
}


#text-container {
    text-align: center;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
    height: 100%; /* Ensure the text container takes up the entire height of the hero */
}

#typed-text {

     font-size: 2rem;
     font-weight: bold;
     transform: translateY(90%);
     color: rgba(240, 240, 240, 0.9);
     text-shadow: 2px 2px 6px rgba(0, 128, 0, 1);
}


#progress-bar-container {
    width: 10%;
    height: 10px;
    background-color: rgba(0, 128, 0, 0.5);
    position: absolute;
    bottom: 0;
    transition: opacity 0.5s;
    box-shadow: 0 0 5px 2px rgba(0, 128, 0, 1);
    border-radius: 5px;
}

#progress-bar {
    width: 0;
    background-color: rgba(0, 128, 0, 1);
    height: 100%;
    box-shadow: 0 0 5px 2px rgba(0, 128, 0, 1);
    transition: width 0.5s, opacity 0.5s;
    border-radius: 5px;
}

#progress-bar.hidden {
    opacity: 0; /* Set opacity to 0 when hidden */
}

#about, .quote, #btm-up, #portfolio, #vlog, #skills, #contact, .foot {
    max-height: 0;
    opacity: 0; /* Initialy make Sections not visible on page load during Hero animation */
    transition: max-height 0.5s ease-in-out, opacity 1s ease-in-out;
    overflow: hidden;
}

#about.visible, #btm-up.visible, .quote.visible, #portfolio.visible, #vlog.visible, #skills.visible, #contact.visible, .foot.visible {
    max-height: 4000px; /* Adjust value based on content's height */
    opacity: 1;
    transition: max-height 0.5s ease-in-out, opacity 1s ease-in-out;
}






/* skills section here */

 #skills {
            padding: 40px 0;
            text-align: center;
        }

        .skills-container {
            padding: 20px;
            max-width: 800px;
            margin: 0 auto;
        }

        .skills-container h2 {
            color: rgba(0, 128, 0, 1);
        }

        .skills-container p {
            font-size: 16px;
        }

        .mother-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 20px;
        }

        .container-child {
            width: 300px;
            margin: 15px;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 8px;
            box-shadow: 0 0 5px  rgba(173, 255, 47, 0.5);
            text-align: center;
            transition: transform 0.3s;
        }

        .container-child h5 {
            color: rgba(0, 128, 0, 1);
        }


        .container-child:hover {
            transform: scale(1.05);
        }







/* About section here */

.celestial-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.celestial-container p {
    font-size: 16px;
}

.celestial-content {
    background: linear-gradient(transparent, rgba(128, 0, 128, 0.3));
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
}

.celestial-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.celestial-about-card {
    background-color: #333;
    opacity: 0.8;
    padding: 10px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
}

.about-card p {
    font-size: 28px;
}





/* Quote Section */

.quote {
    position: relative;
    margin-top: 20px;
       display: flex;
    justify-items: center;
    align-items: center;
}

        @keyframes pulse {
            0% { transform: scale(1); }
            50% { transform: scale(1.05); }
            100% { transform: scale(1); }
        }

        .pulsing {
            animation: pulse 3s ease-in-out infinite; 
        }

.quote-container {
    background: transparent; /* Transparent background */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.quote-text {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    margin: 0;
}

   .quote-mark {
    font-size: 72px;
   }


.imagine img {
    display: flex;
    padding: 30px;
    width: 100%;
    height: auto;
    overflow: hidden;
}








/* "Putting in the Work" section */

.putting-in-the-work-container {
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

.holding {
    box-shadow: 0 0 5px  rgba(173, 255, 47, 0.5);
    border-radius: 10px;
}

  .hr-line{
    border: 0;
    border-top: 2px solid #333;
    margin: 10px 40px;
}

.work-card1, .work-card2 {
    background: transparent;
    padding: 0 20px 0 20px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 22px;
    text-align: left;
}

.work-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0 0 10px 0;
}







/* Vlog Section */

.vlog-video {
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.cust {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    background: rgba(30, 30, 30, 0.9);
    border-radius: 8px; 
    overflow: hidden;
    padding: 5px;
    margin: 10px;

}

#videoList { 
    background: rgba(60, 60, 60, 0.7);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid #ddd;
}


.thumbnail {
    width: 30%;
    overflow: hidden;
}

.thumbnail img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.details {
    padding: 5px;
    width: 55%;
}

.meta {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgba(200, 200, 200, 0.7);
}

.meta .mat-icon {
    font-size: 14px;
    color: rgba(255, 0, 244, 0.5);
    margin: 0 3px 0 5px;
}

.play-button {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    width: 15%;
}

.play-button img {
    width: 100%;
    height: auto;
}

.title {
    font-family: 'Orbitron Medium', sans-serif;
    color: rgba(0, 128, 0, 1);
    padding: 0 5px;
}
.description {
    font-family: 'Lato', sans-serif;
    color: #FAFAFA;
    padding: 0 5px;
}

.title, .description {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#loadMoreBtn {
    background: rgba(255, 0, 244, 0.6);
    color: #fff;
    padding: 5px 20px;
    box-shadow: 0 0 10px  rgba(255, 0, 244, 0.7);
    border: none;
    border-radius: 20px;
    outline: none;
    display: none;
}

#loadMoreBtn:focus {
    border: none;
    outline: 1px solid rgba(255, 0, 244, 0.5);
}

.sub-mother {
    display: flex;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center; 
    justify-content: center;
  align-items: center;

}





/* Contact Section */
     
     .contact-container {

        background-color: rgba(128, 0, 128, 1.0);
    display: flex;
    padding: 20px;
    margin: 0;
    border-radius: 20px;
    text-align: center; 
    justify-content: center;
  align-items: center;

} 


       #contact {
     padding: 40px 0;
    text-align: center;
        }  

        .contact-description {
            padding-left: 200px;
            padding-right: 20px;
            font-size: 20px;
        }

        .contact-icons {
            display: flex;
            align-items: center;
            justify-content: left;

        }




/* Preloader Styles */ 

#preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* Background color for the preloader container */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of other elements */
  opacity: 1;
  transition: opacity 1s; /* Adjust the time for preloader display (2s) */
}

#preloader {
  width: 50px; /* Adjust the size of the preloader */
  height: 50px;
  border: 5px solid rgba(0, 128, 0, 0.3); /* Green border for the preloader */
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





/* Vlog Video modal */
.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);

}

.modal-content {
  padding: 5px;
  background: transparent;
  width: 95%;
  box-shadow: 0 0 10px  rgba(255, 0, 244, 0.7);
  max-width: 1200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal-overlay {
  display: none; /* Hide the overlay by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Place it below the modal */
}

#videoPlayer {
    height: 80vh;
}

.close {
  color: purple;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* Footer Styles */

.foot {
    position: relative;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0); 
    padding: 10px; 
}

.foot p {
    margin: 0;
}



/* Responsive Styling */


@media (max-width: 768px) {
    .hero {
        height: 70vh;
    }

    #text-container {
        padding: 30px; 
    }

    #typed-text {
       transform: translateY(55%);
   }

    #progress-bar-container {
        width: 40%; 
    }


    .work-card1, .work-card2, .about-card p {
    font-size: 17px;
}


    .quote-text {
    font-size: 24px;
   }

   .quote-mark {
    font-size: 48px;
   }
   #videoPlayer {
    height: 70vh;
}
.hero img {
    position: absolute;
            width: 350px;
    height: auto;
    top: 150px;
    left: 50px;
}
   
}
@media (max-width: 450px) {

#videoPlayer  {
    height: 50vh;
}


.imagine img {
    display: flex;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
}

.hero img {
    position: absolute;
            width: 300px;
    height: auto;
    top: 50px;
    left: 50px;
}
        .contact-description {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 20px;
        }
                .contact-icons {
            display: flex;
            align-items: center;
            justify-content: center;

        }
}
